body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.mainHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
}

.sdHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.loginPageStuff {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 100vh;
    align-items: center;
    background-image: linear-gradient(rgb(0, 1, 51) 0%, rgb(15, 16, 72) 100%);
}

.logoSec {
    text-align: center;
    color: white;
    font-size: 1em;
}

.logo {
    height: 20vw;
    width: 32vw;
}

.form-container {
    position: relative;
    height: 240px;
    width: 400px;
    padding: 1em;
    background: transparent;
    border-radius: 10px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.05);
}

.form-container h1 {
    text-align: center;
    padding: 20px 0;
    border-bottom: 1px solid silver;
}

.form-container form {
    padding: 0 40px;
    box-sizing: border-box;
}

.input-container {
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
}

.input-container input {
    width: 100%;
    color: #e9f4fb;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}

.input-container label {
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
}

.input-container span::before {
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 0%;
    height: 2px;
    background: linear-gradient(90deg, #4427fa 30%, #8080f7 100%);
    transition: .5s;
}

.input-container input:focus~label,
.input-container input:valid~label {
    top: -5px;
    color: #4427fa;
}

.input-container input:focus~span::before,
.input-container input:valid~span::before {
    width: 100%;
}

.submit-button {
    position: relative;
    width: 100%;
    height: 50px;
    border: 1px solid;
    background: linear-gradient(90deg, #4427fa 30%, #8080f7 100%);
    border-radius: 25px;
    font-size: 18px;
    color: #e9f4fb;
    border: solid #8080f7;
    font-weight: 700;
    cursor: pointer;
    outline: none;
}

.submit-button:hover {
    background-color: linear-gradient(90deg, #4427fa 30%, #8080f7 100%);
    border: #4427fa;
    transition: .5s;
}

@media (max-width: 700px) {
    .loginPageStuff {
        flex-direction: column;
    }
    .logo {
        height: 40vw;
        width: 64vw;
    }
}

.course {
    display: block;
    background: #dddddd;
    margin: 5px;
    padding: 10px 20px;
    border-radius: 1em;
}

.course h3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.module {
    display: block;
    background-color: #e7e7e7;
    border-radius: 1em;
    padding: .4em .8em;
    margin: .2em;
}

.moduleHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn {
    display: block;
    background: #000;
    color: #fff;
    border: none;
    padding: .5em 1em;
    margin: .5em;
    border-radius: 1em;
    cursor: pointer;
    font-size: 16px;
}

.btn:active {
    transform: scale(0.97);
}

.popup-box {
    position: fixed;
    background: #00000050;
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
}

.box {
    position: relative;
    background: #e7e7e7;
    padding: 1em;
    border-radius: 1em;
    margin: 0 auto;
    height: auto;
    max-height: 70vh;
    margin-top: 15vh;
    width: 75%;
    overflow: auto;
}



/*trainerDash*/
.trainer-dash-box-smaller{
    width: 15%;
    position: absolute;
    padding-top:6rem;
        background-image: linear-gradient(135deg, #4700D8, #9900F0);
        height: 100%
}
.trainer-dash-box{
    width: 85%;
    position: relative;
    left:15%;
    padding-top: 3rem;
    text-align: center;
}

.btn-pos{
    position: absolute;
    left: 85%;
    top:5%;
    
    
}

.btn-pos1{
    margin:auto;
    margin-top: 1rem;

}